
// @module: font-faces
@import "font-faces";

$FONTS_URI: '../fonts';

$FONT_FACES_EXTENSIONS: ('.eot', '.woff', '.ttf');



/*
 * @fonts
 */
@include font-faces(
   'Asap'
  ,'asap'
  ,('n4', 'i7')
);

@include font-face('Lato', null, 'n4', '.woff');



/*
 * @base
 */
html {
  overflow-y: scroll;
  font-size: 100%;
}
body {
  color: #333;
  font: 18px/1.4 Arial, Helvetica, Freesans, sans-serif;
  background: #fff;
}



/*
 * @page
 */
#page {
  margin: 0 auto;
  width: 460px;
  font-family: Asap, sans-serif;
}